/* Общие стили */
.content-slider-container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  overflow: visible; /* Чтобы стрелки не обрезались */
}

.slider {
  overflow: hidden;
  height: 100%;
}

.slider-track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide {
  flex-direction: column;
  min-width: 100%;
  box-sizing: border-box;
  text-align: left;
  border-radius: 20px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    .flex-container {
      flex-direction: column;
      align-items: start;
    }
    .name {
      font-size: 1rem;
      font-weight: bold;
    }
    .course {
      font-size: 14px;
      background-color: var(--light-color);
      padding: 0 5px;
      border-radius: 100px;
    }
  }
  .photo {
    margin-right: 10px;
    img {
      width: 5.162vw;
      height: auto;
      max-width: 80px;
      min-width: 60px;
    }
  }
}

.slide h3 {
  margin-top: 0;
}

.slide p {
  margin-bottom: 0;
  font-size: 1rem;
}

/* Управление стрелками (класс with-arrows) */
.with-arrows .slider-controls {
  display: flex;
}

.slider-controls {
  display: none; /* Скрыто, если нет класса with-arrows */
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 10;
}

.slider-controls .slider-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-controls .prev {
  position: absolute;
  left: -7%; /* За границей слайдера */
  img {
    transform: scaleX(-1);
  }
}

.slider-controls .next {
  position: absolute;
  right: -7%; /* За границей слайдера */
}

.slider-controls .prev,
.slider-controls .next {
  &:hover {
  }
  img {
    width: 2.5vw;
    max-width: 46px;
    min-width: 40px;
    height: auto;
  }
}

/* Точки навигации (класс with-dots) */
.with-dots .slider-dots {
  display: flex;
}

.slider-dots {
  display: none; /* Скрыто, если нет класса with-dots */
  justify-content: center;
  margin-top: 12px;
  gap: 5px;
}

.slider-dots div {
  width: 7px;
  height: 7px;
  background-color: #999999;
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots div.active {
  background-color: var(--dark-color);
}

/* Мобильная версия */
@media (max-width: 768px) {
  .content-slider-container {
    width: 100%;
  }

  .slider-controls {
    position: static;
    justify-content: center;
    transform: none;
    margin-top: 10px;
    gap: 10px;
  }

  .slider-controls .prev,
  .slider-controls .next {
    position: static;
    left: auto;
    right: auto;
  }
}
