/* Общие стили */
.tabs {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.tab-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-btn {
  height: 60px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 0.86rem;
  background-color: #f9f9f9;
  font-size: 1.143rem;
  font-weight: bold;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

.tab-btn.active {
  background-color: #efefef;
  color: var(--text-color);
  font-weight: bold;
}

/* Иконка стрелки */
.icon-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.tab-btn.active .icon-arrow {
  transform: rotate(225deg);
}

/* Контент табов */
.tab-panel {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, max-height 0.4s ease, transform 0.4s ease;
  h3 {
    text-align: left;
  }
}

.tab-panel.active {
  opacity: 1;
  max-height: 200px;
  transform: translateY(0);
}

/* Десктопная версия */
@media (min-width: 769px) {
  .icon-arrow {
    display: none;
  }
  .tab-buttons {
    background-color: #909090;
    border-radius: 100px;
    flex-direction: row;
    gap: 0;
  }

  .tab-btn {
    width: auto;
    font-weight: normal;
    font-size: 1rem;
    color: var(--light-color);
    justify-content: center;
    background-color: #909090;
    border-radius: 100px;
    flex: 1;
  }

  .tabs {
    flex-direction: column;
  }

  .tab-panel {
    order: 2;
  }
}
