/* Общие стили */
.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-buttons {
  display: flex;
  flex-direction: column;
}

.tab-btn {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #f9f9f9;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

.tab-btn:hover {
  background-color: #eaeaea;
}

.tab-btn.active {
  background-color: #e3e3e3;
  font-weight: bold;
}

/* Иконка стрелки */
.icon-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.tab-btn.active .icon-arrow {
  transform: rotate(135deg);
}

/* Скрытие стрелок на десктопе */
@media (min-width: 769px) {
  .icon-arrow {
    display: none;
  }
}

/* Контент табов */
.tab-panel {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, max-height 0.4s ease, transform 0.4s ease;
}

.tab-panel.active {
  opacity: 1;
  max-height: 200px; /* Настраиваемая высота */
  transform: translateY(0);
}

/* Десктопная версия */
@media (min-width: 769px) {
  .tab-buttons {
    flex-direction: row;

  }

  .tab-btn {
    width: auto; /* Автоматическая ширина для равномерного распределения */
    flex: 1; /* Равномерное распределение табов */
     border-radius: 20px;
  }
}
