/* Общие стили */
.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-btn {
  height: 60px;
  border-radius: 0.86rem;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #f9f9f9;
  font-weight: bold;
  font-size: 1.143rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

.tab-btn.active {
  background-color: #e3e3e3;
  font-weight: bold;
}

/* Иконка стрелки */
.icon-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.tab-btn.active .icon-arrow {
  transform: rotate(135deg);
}

/* Скрытие стрелок на десктопе */
@media (min-width: 769px) {
  .icon-arrow {
    display: none;
  }
}

/* Контент табов */
.tab-panel {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  h3 {
    font-size: 1.43rem;
    text-transform: uppercase;
    text-align: left;
  }
  p {
    font-size: 1rem;
  }
}

.tab-panel.active {
  
}

/* Десктопная версия */
@media (min-width: 769px) {
  .tab-buttons {
    flex-direction: row;
    border-radius: 100px;
    background-color: #909090;
    gap: 0;
  }

  .tab-btn {
    width: auto;
    flex: 1;
    font-size: 1rem;
    font-weight: normal;
    background-color: #909090;
    justify-content: center;
    color: var(--light-color);
    border-radius: 100px;
  }

  .tab-btn.active {
    color: #2b2b2b;
    font-weight: bold;
  }
}
